ul{
    font-size:30px;
    width: 30%; 
    list-style: none;
    
}
li {
    background-color: rgb(39, 39, 146);
    color: rgb(219, 64, 147);
    border: 1px solid black;
    display: block;
    list-style-type: none;
    font-size: 30px;
    padding: 7px;
    
}
li:hover{
color: aqua;
background-color: #D8D8D8;
}